.gradient {
    background-image: url("https://image.freepik.com/vector-gratis/fondo-degradado-lineas-azules-dinamicas_23-2148995756.jpg");
}

.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
}