h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

table{
    text-align: center;
    
  margin:auto;
  border-bottom-color: black;   
  
}

.table tr{
    border-bottom-color: black;
}

