#tablas {
    padding-top: 60px;
 }
 
 table{
     width: 90%;
 }
 tr{
     text-align: center;
 }
 td{
     text-align: center;
 }
 
 .delete {
     background-color: red;  
     color: black;
     
     margin: 8px 2px;
     border:1px,black;
     cursor: pointer;    
     opacity: 0.9;
 
   }
   .update {
     background-color: rgb(19, 207, 182);  
     color: black;
     
     margin: 8px 2px;
     border:1px,black;
     cursor: pointer;    
     opacity: 0.9;
 
   }
   #titulotabla{
       text-align: left;
       padding-left: 60px;
   }
 
 
   #parrafotabla{
     padding-left: 60px;
   }

   .modales{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
    
   }
  
   #modalb{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
   }