

  


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin-bottom: 60px;
  }



.container{
 padding-top: 60px;
    position:static;
}

.container p{
  text-align: center;
}

input[type=text], input[type=password], input[type=date],  input[type=phone]{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 15px;
  }

  .dropdown .select option {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 15px;
  }
  
 
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
   .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 15px;
  }
  .searchButton {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 15px;
  }

  .update {
    background-color: rgb(19, 207, 182);  
    color: black;
    
    margin: 8px 2px;
    border:1px,black;
    cursor: pointer;    
    opacity: 0.9;
    border-radius: 15px;

  }

 

  .delete {
    background-color: red;  
    color: black;
    
    margin: 8px 2px;
    border:1px,black;
    cursor: pointer;    
    opacity: 0.9;
    border-radius: 15px;

  }
  .confirmButton{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 15px;

  }
  
  .registerbtn:hover {
    opacity: 1;
    border-radius: 15px;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 15px;
  }

  table{
      width: 75%;
  }
  tr{
      text-align: center;
  }
  td{
      text-align: center;
  }